* {
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 12px;
    background-color: #ADD8E6;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo img {
    height: 80px;
}

.nav-logo p {
    color: #008B8B;
    font-size: 38px;
    font-weight: 700;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: #008B8B;
}

.nav-cart {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-cart img {
    height: 40px;
}

.nav-cart button {
    width: 130px;
    height: 40px;
    outline: none;
    border: 1px solid #008B8B;
    border-radius: 75px;
    color: #008B8B;
    font-size: 18px;
    background-color: #ADD8E6;
    cursor: pointer;
}

.nav-cart button:hover {
    background-color: #f3f3f3;
}

.nav-cart-counter {
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -55px;
    margin-left: -40px;
    border-radius: 11px;
    font-size: 12px;
    background-color: red;
    color: white;
}


@media screen and (max-width: 480px) {
    .nav-menu {
      flex-direction: column;
      gap: 10px;
    }
  
    .nav-menu li {
      flex-direction: row;
      gap: 5px;
    }

    .nav-logo p {
      display: none;
    }
    
    .nav-logo img {
      height: 100px;
    }
  }
  
@media screen and (min-width: 481px) and (max-width: 768px) {
    .nav-menu {
      flex-direction: column;
      gap: 10px;
    }
  
    .nav-menu li {
      flex-direction: row;
      gap: 5px;
    }

    .nav-logo p {
      display: none;
    }
    
    .nav-logo img {
      height: 100px;
    }
  }  